---

---

<footer class="bg-dark-800 border-t border-primary-700 py-6 mt-12">
    <div class="container">
        <p class="text-gray-400 text-center">Copyright 2025 <span class="text-primary-400">ZaneStacked</span>. All rights reserved.</p>
    </div>
</footer>
