---
type Props = {
  links: { href: string, text: string }[]
};

const { links }: Props = Astro.props;
---

<nav class="bg-dark-800 border-b border-primary-700 py-4 mb-6">
    <div class="container">
        <ul class="flex gap-6">
          {links.map((link) => (
                  <li>
                      <a href={link.href} class="text-gray-200 hover:text-primary-300 transition-colors duration-200">{link.text}</a>
                  </li>
          ))}
        </ul>
    </div>
</nav>
